/** 
COLORS
**/
/**
BASIS
**/
* {
  box-sizing: border-box;
}

body {
  font-family: "poppins", sans-serif;
  position: relative;
  font-weight: 400;
  font-size: 1.05rem;
  line-height: 1.7rem;
  color: #5A5A5A;
  background-color: white;
}

b {
  font-weight: 600;
}

h1, h2, h3, h4, h5 {
  margin-top: 0;
  color: black;
}

h1, h2, h4 {
  font-family: "Bebas Neue", sans-serif;
  box-sizing: border-box;
  font-weight: 400;
}

a {
  color: #CE0058;
}

p {
  margin-top: 0;
  text-indent: 10px;
  max-width: 900px;
}

h1 {
  font-size: 3rem;
  line-height: 3rem;
}

h2 {
  position: relative;
  font-size: 2rem;
  line-height: 2rem;
  margin-bottom: 45px;
  height: 3rem;
  text-align: center;
}
h2::before {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  content: "";
  border-bottom: 3px solid #CE0058;
  width: 100px;
  margin: 0 auto;
}

h4 {
  color: #CE0058;
  font-size: 1.4rem;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 15px 0;
}

/** 
CONTENT
**/
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 15px 75px;
}
header .main-logo svg {
  fill: white;
}
header nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 30px;
}
header nav ul a {
  color: white;
  font-size: 1rem;
  text-decoration: none;
  white-space: nowrap;
}

footer {
  background-color: #F6F9FE;
  font-size: 0.7rem;
  color: #00587A;
  padding-top: 15px;
}
footer a {
  color: #00587A;
  text-decoration: none;
}
footer .container {
  display: flex;
  flex-direction: row;
  padding: 15px 0;
  flex-wrap: nowrap;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #dfeafb;
}

#cta__desc, #cta h1 {
  color: white;
}
#cta__desc p, #cta h1 p {
  text-indent: inherit;
}
#cta__picture, #cta h4 {
  text-align: center;
  margin: 0;
}

#event__picture {
  min-width: 50%;
}
#event__picture img {
  width: 100%;
  object-fit: cover;
}
#event__desc {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
}

#about {
  background-color: #F6F9FE;
}
#about__values {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 30px 0;
}
#about__values li {
  text-align: center;
}

#staff__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 30px auto;
  gap: 15px;
  text-align: center;
  margin-bottom: 0;
  padding: 0;
  width: 90%;
}
#staff__list__picture {
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 15px;
}
#staff__list__picture img {
  display: block;
  height: 100%;
  min-width: 120px;
  object-fit: cover;
}

#contact {
  background-color: #F6F9FE;
}
#contact__details {
  font-size: 0.8rem;
  list-style: none;
  margin: 0;
  padding: 0;
}
#contact__details i {
  margin-right: 20px;
}
#contact__details li {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
#contact__map {
  min-width: 500px;
  margin-bottom: 30px;
  border-radius: 15px;
  border: 3px solid white;
  overflow: hidden;
}
#contact__map iframe {
  min-height: 400px;
  height: 100%;
}
#contact__form {
  margin-top: 30px;
}

/**
CLASSES
**/
.bg-decoration {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}
.bg-decoration__img {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.bg-decoration__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bg-decoration__vector {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  min-width: 100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(90deg, rgba(210, 48, 120, 0.6) 0%, rgba(255, 121, 85, 0.7) 100%);
}
.bg-decoration__vector svg {
  position: absolute;
  bottom: 0;
  left: 0;
  min-width: 100%;
  transform-origin: bottom;
  transform: scaleY(0.8);
}

.container {
  max-width: 1024px;
  padding: 15px 45px;
}

.content__col2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 30px;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  margin: 15px 0;
  text-decoration: none;
  background: inherit;
  border: none;
  z-index: 1;
}
.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  z-index: -1;
}
.btn--type1 {
  margin-left: 10px;
  color: black;
  font-weight: 600;
}
.btn--type1::before {
  content: "";
  background-color: #ffd600;
  transform: skew(-20deg);
}
.btn--type2 {
  color: white;
}
.btn--type2::before {
  content: "";
  background-color: #CE0058;
  background: linear-gradient(90deg, #ff1378 0%, #c80055 100%);
}

.social-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 15px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.fab-icon {
  margin: 5px 10px;
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: #00587A;
}

.form {
  font-size: 0.9rem;
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
.form__textfield {
  position: relative;
  width: 100%;
  background: white;
  border: 1px solid #dfeafb;
  border-radius: 10px;
  padding: 5px;
}
.form__textfield label {
  position: absolute;
  top: 0.3rem;
  left: 10px;
  font-weight: 500;
  pointer-events: none;
}
.form__textfield input, .form__textfield textarea {
  display: block;
  border: none;
  height: 27px;
  background-color: transparent;
  width: 98% !important;
  margin: auto;
  resize: vertical;
}
.form__textfield input:focus, .form__textfield textarea:focus {
  outline: none !important;
}
.form__textfield textarea {
  padding-top: 10px;
  min-height: 300px;
}
.form__textfield button {
  display: inline-block;
}
.form__col2 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  gap: 15px;
}

/*# sourceMappingURL=style.css.map */
