/** 
COLORS
**/
$primary : #CE0058;
$secondary : #5A5A5A;
$darkblue : #00587A;
$orange : #ff9900;
$yellow : #FFE03D;
$blue : #058B8C;

$bg-gradient: linear-gradient(90deg, rgba(210,48,120,0.6) 0%, rgba(255,121,85,0.7) 100%);
$primary-gradient: linear-gradient(90deg, rgba(255,19,120,1) 0%, rgba(200,0,85,1) 100%);
$bg-bluelight : #F6F9FE;

$lg-screen-width : 1024px;

$space-multiplier : 15px;

/**
BASIS
**/
* {
  box-sizing: border-box;
}

body {
  font-family: 'poppins', sans-serif;
  position: relative;
  font-weight: 400;
  font-size: 1.05rem;
  line-height: 1.7rem;
  color: $secondary;
  background-color: white;
}

b {
  font-weight: 600;
}

h1, h2, h3, h4, h5 {
  margin-top:0;
  color:black;
}

h1, h2, h4 {  
  font-family: 'Bebas Neue', sans-serif;
  box-sizing: border-box;
  font-weight: 400;
}

a {
  color:$primary;
}

p {
  margin-top:0;
  text-indent: 10px;
  max-width: 900px;;
}

h1 {
  font-size: 3rem;
  line-height: 3rem;
}

h2 {
  position:relative;
  font-size: 2rem;
  line-height: 2rem;
  margin-bottom: calc($space-multiplier * 3);
  height:3rem;
  text-align: center;

  &::before {
    position:absolute;
    bottom:0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    content: "";
    border-bottom: 3px solid $primary;
    width: 100px;
    margin:0 auto;
  }
}

h4 {
  color:$primary;
  font-size: 1.4rem;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: $space-multiplier 0;
}

/** 
CONTENT
**/
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding:$space-multiplier calc($space-multiplier * 5);

  .main-logo svg {
    fill: white;
  }

  nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: calc($space-multiplier*2);

    a {
      color:white;
      font-size: 1rem;
      text-decoration: none;
      white-space: nowrap;
    }
  }
}

footer {
  background-color: $bg-bluelight;
  font-size: 0.7rem;
  color: $darkblue;
  padding-top: $space-multiplier;

  a {
    color:$darkblue;
    text-decoration: none;
  }

  .container {
    display: flex;
    flex-direction: row;
    padding:calc($space-multiplier * 1) 0;
    flex-wrap: nowrap;
    margin:0 auto;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid darken($bg-bluelight, 5%);
  }
}

#cta {
  &__desc, h1 {
    color:white;
    p {
      text-indent: inherit;
    }
  }

  &__picture, h4 {
    text-align: center;
    margin:0
  }
}

#event {
  &__picture {
    min-width:50%;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &__desc {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
  }
}

#about {
  background-color: $bg-bluelight;
  &__values {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: calc($space-multiplier*2) 0;

    li {
      text-align: center;
    }
  }
}

#staff {
  &__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin:calc($space-multiplier*2) auto;
    gap: $space-multiplier;
    text-align: center;
    margin-bottom: 0;
    padding: 0;
    width: 90%;

    &__picture {
      border-radius: 50%;
      overflow: hidden;
      margin-bottom: $space-multiplier;

      img {
        display: block;
        height: 100%;
        min-width: 120px;
        object-fit: cover;
      }
    }
  }
}

#contact {
  background-color: $bg-bluelight;

  &__details {
    font-size: 0.8rem;;
    list-style: none;
    margin:0;
    padding:0;

    i {
      margin-right:20px;
    }

    li {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
    }
  }

  &__map {
    min-width: 500px;
    margin-bottom:calc($space-multiplier*2);
    border-radius:$space-multiplier;
    border:3px solid white;
    overflow:hidden;

    iframe {
      min-height: 400px;
      height: 100%;
    }
  }

  &__form {
    margin-top:calc($space-multiplier*2);
  }
}

/**
CLASSES
**/
.bg-decoration{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -1;

  &__img {
    position: absolute;
    bottom:0;
    width: 100%;
    height: 100%;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__vector {
    position: absolute;
    top:0;
    left:0;
    z-index: 2;
    min-width: 100%;
    height: 100%;    
    overflow: hidden;
    background: $bg-gradient;

    svg {
      position: absolute;
      bottom:0;
      left:0;
      min-width: 100%;
      transform-origin: bottom;
      transform: scaleY(0.8);
    }
  }
}

.container {
  max-width: $lg-screen-width;
  padding: $space-multiplier calc($space-multiplier * 3);
}

.content {
  &__col2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: calc($space-multiplier *2);
  }
}

.btn {
  position: relative;
  display: inline-block;  
  padding: 10px 20px;
  margin: $space-multiplier 0;  
  text-decoration: none;
  background: inherit;
  border:none;
  z-index: 1;

  &::before {
    content:"";
    position: absolute;
    top:0;
    left: 0;
    border-radius: 5px;
    height: 100%;
    width: 100%;    
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    z-index: -1;
  }

  &--type1 {
    margin-left:10px;
    color: black;
    font-weight: 600;
    &::before {
      content: "";
      background-color: darken($yellow, 12%);
      transform: skew(-20deg);  
    }
  } 
  
  &--type2 {    
    color: white;
    &::before {
      content: "";
      background-color: $primary;
      background: $primary-gradient;
    }
  } 
}

.social-list {
  display: flex;
  flex-wrap: nowrap;
  gap: $space-multiplier;
  list-style: none;
  padding:0;
  margin:0;
}

.fab-icon {
  margin:5px 10px;
  padding:5px;
  border-radius: 5px;
  color:white;
  background-color: $darkblue;
}

.form {
  font-size: 0.9rem;
  max-width: 700px;
  margin:0 auto;
  display: flex;
  flex-direction: column;
  gap: $space-multiplier;
  align-items: center;

  &__textfield {
    position: relative;
    width: 100%;
    background: white;
    border:1px solid darken($bg-bluelight,5%);
    border-radius: 10px;
    padding:5px;

    label {
      position: absolute;
      top:0.3rem;
      left:10px;
      font-weight: 500;
      pointer-events: none;
    }

    input, textarea{
      display: block;
      border:none;
      height: 27px;
      background-color: transparent;
      width: 98%!important;
      margin: auto;
      resize: vertical;

      &:focus {
        outline:none!important;
      }
    }

    textarea {
      padding-top:10px;
      min-height: 300px;
    }

    button {
      display: inline-block;
    }
  }

  &__col2 {
    display:flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width:100%;
    gap: $space-multiplier;
  }
}