/* import abstracts SCSS */
@import './utils/variables';
@import './utils/mixins';

/* import theme CSS */
@import './theme/color';


/* import bases SCSS */
@import './base/base';
@import './base/fonts';

/* import layout SCSS */
@import './layout/header';
@import './layout/main';
@import './layout/footer';

/* import pages SCSS */
@import './pages/home';

/* import Components SCSS */
@import './components/reveal';
@import './components/bg-decoration';
@import './components/loader';
@import './components/container';
@import './components/icons';
@import './components/buttons';
@import './components/form';
@import './components/warper';
@import './components/alert';

/* import responsive Design */
@import './layout/responsive';

/* MIDDLE HELPER LINE
body::after {
  content: '';
  height: 2px;
  position: fixed;
  top: calc(50% - 1px);
  left:0;
  right: 0;
  background-color: red;
  z-index: 999;
}
*/
