$primary : #CE0058;
$secondary : #5A5A5A;
$darkblue : #00587A;
$orange : #ff9900;
$yellow : #FFE03D;
$blue : #058B8C;
$error : #E64A19;
$success : #5eba7d;

$bg-gradient: linear-gradient(90deg, rgba(210,48,120,0.5) 0%, rgba(255,121,85,0.7) 100%);
$bg-menu-gradient: linear-gradient(90deg, rgba(210,48,120,0.9) 0%, rgba(255,121,85,0.98) 100%);
$primary-gradient: linear-gradient(90deg, rgba(255,19,120,1) 0%, rgba(200,0,85,1) 100%);
$bg-bluelight : #F6F9FE;