#homepage {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap:50px;

  &__intro {
    padding-right: 20px;
  }

  &__content {
    position: relative;
    width: 70%;
  }

  &__footer {
    margin-top: 30px;
  }

  .bubble {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(90%, -40%);
  }
}