#homepage {
  &__intro {
    margin: 0;
  }

  &__content {
    width: calc(100% - 300px);
    max-width: 670px;
  }

  &__footer {
    margin-top: 30px;
  }

  .form__popup {
    left: 50%;
    transform: translate(-50%, -40px);
  }

  &__bubble {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 100%;
    max-width: $max-width-xl;
    transform: translateX(-50%);
    .bubble {
      position: absolute;
      bottom: 300px;
      right: 50px;
      z-index: 1;
      pointer-events: none;

      &__content {
        text-transform: none;
        font-size: 2rem;
        font-weight: 600;
        margin: 0;
      }
    }
  }
}

@media (max-width: $screen-md) {
  #homepage {
    font-size: 0.9rem;
    &__content {
      width: 100%;
      max-width: 100%;
    }
  }
}

@media (max-width: $screen-sm) {
  #homepage {
    padding: 0 !important;
  }
}
