#homepage {
  &__intro {
    margin: 0;
  }

  &__content {
    width: calc(100% - 300px);
    max-width: 670px;
  }

  &__footer {
    margin-top: 30px;
  }

  .form__popup {
    transform: translateY(-180px) translateX(-50%);
  }

  .bubble {
    position: absolute;
    top: 0;
    right: 15%;
    z-index: 999;

    &__content {
      text-transform: none;
      font-size: 2rem;
      font-weight: 600;
      margin: 0;
    }
  }
}

@media (max-width: $screen-md) {
  #homepage {
    font-size: 0.9rem;;
    &__content {
        width: 100%;
        max-width: 100%;
    }
  }
}
