.alert {
  position:absolute;
  top:0;
  left: 50%;
  border: 2px solid;
  padding:5px 30px;
  border-radius: 5px;
  margin-bottom: 20px;
  transform: translate(-50%, 0);
  white-space: nowrap;
  display:none;

  &__success {
    background-color: lighten($success,40%);
    border-color: $success;
    color: $success;
  }

  &__error {
    background-color: lighten($error,40%);
    border-color: $error;
    color: $error;
  }

  &[data-visible="true"] {
    display: block;
    opacity: 0;
    transform: translate(-50%, 20px);
    animation: fadein-popup .3s ease-in-out both;
  }
}

@keyframes fadein-popup {
  0% {
    opacity: 0;
    transform: translate(-50%, 30px);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}