.social-list {
  display: flex;
  flex-wrap: nowrap;
  gap: $space-multiplier;
  list-style: none;
  padding:0;
  margin:0;

  &__item {
    a {
      display: block;
      height: 24px;
      width: 24px;
      overflow: hidden;
      content: "";

      svg {
        fill: $darkblue;
        transition: fill .2s ease-in-out;
      }
    }

    :hover > svg{
      fill: $primary;
    }
  }
}

.fab-icon {
  margin:5px 10px;
  padding:5px;
  border-radius: 5px;
  color:white;
  background-color: $darkblue;
}