.warped {
  position:absolute;
  top:0;
  left:0;
  @include rotated-text(8, 60deg, -80deg);
  span {
    height: 185px;
    position: absolute;
    width: 20px;
    left: 60px;
    top: 0px;
    transform-origin: center;
    color:$blue;
    
  }
}