* {
  box-sizing: border-box;
}

body {
  font-family: 'poppins', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6rem;
  color: $secondary;
  background-color: white;
}

b {
  font-weight: 600;
}

h1, h2, h3, h4, h5 {
  margin-top:0;
  color:black;
}

ul {
  padding-left: calc($space-multiplier *2);
}

h1, h2, h4 {  
  font-family: 'Bebas Neue', sans-serif;
  box-sizing: border-box;
  font-weight: 400;
}

a {
  color:$primary;
  &:hover {
    text-decoration: none;
  }
}

p {
  margin-top:0;
  text-indent: 10px;
}

h1 {
  font-size: 3rem;
  line-height: 3rem;
}

h2 {
  position:relative;
  font-size: 2rem;
  line-height: 2rem;
  margin-bottom: calc($space-multiplier * 3);
  height:3rem;
  text-align: center;

  &::before {
    position:absolute;
    bottom:0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    content: "";
    border-bottom: 3px solid $primary;
    width: 100px;
    margin:0 auto;
  }
}

h4 {
  color:$primary;
  font-size: 1.4rem;
}

button {
  cursor: pointer;
}

section {
  padding: calc($space-multiplier*4) 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
}

article {
  overflow: hidden;
}


.text {
  &__weight {
    &--bold {
      font-weight: 600;
    }
  }
  &__color {
    &--yellow {
      color:$yellow;
    }
    &--blue {
      color:$darkblue;
    }
  }

  &__size {
    &--sm {
      line-height: 1rem;
      font-size:0.7rem;
    }
    &--md {
      line-height: 1rem;
      font-size:0.8rem;
    }
  }
}

.box {
  &__infos {    
    position: relative;
    display: inline-block;
    margin:$space-multiplier 0;
    line-height: 1.3rem;
    padding:calc($space-multiplier/2) $space-multiplier;

    &::before {
      content: "";
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $primary;
      transform: skew(-15deg);
      z-index: -1;
    }
  }
}