.bubble {
  font-family: 'Square Peg', cursive;
  font-weight: bolder;
  font-size: 1.6rem;
  line-height: 2rem;
  position: relative;
  width: 220px;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  animation: anim-bubble-appear 0.45s ease 1s both;
  
  h2 {
    letter-spacing: normal;

    &::before {
      display: none;
    }
  }

  &__content {    
    width: 80%;
    z-index: 2;
    color:$pink;
    background-image: url('./../../assets/design/underline.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-bottom: 15px;
  }

  &::after{
    position: absolute;
    top:0;
    left: 0;
    content: '';
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: $yellow;
    z-index: 1;
  }

  &::before{
    position: absolute;
    top:0;
    right:0;
    content: '';
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-color: $pink;
    opacity: 0.5;
    filter: blur(1px);
    z-index: 1;
    animation: anim-bubble-shadow 5s linear infinite both;
  }
}


@media (max-width: $screen-md) {
  .bubble {
    display: none;
  }
}

@keyframes anim-bubble-appear {
  0% {
    transform: translateX(-100px) rotateY(180deg);
    opacity: 0;
  }

  100% {
    transform: translateX(0) rotateY(360deg) ;
    opacity: 1;
  }
}

@keyframes anim-bubble-shadow {
  0% {
    transform: rotate(0deg) translateX(5px);
  }

  100% {
    transform: rotate(360deg) translateX(5px);
  }
}