.button {
  display: inline-block;
  position: relative;
  font-size: 1rem !important;
  line-height: 1rem;
  background-color: transparent;
  border-radius: 20px;
  overflow: hidden;
  color: $pink;
  background-color: $yellow;
  cursor: pointer;

  &--outlined {
    background-color: transparent;
    border: 2px solid $yellow;
    color: $yellow !important;
    transition: border-color 0.15s ease-in-out;

    button,
    a {
      transition: color 0.15s ease-in-out;
      color: $yellow !important;
    }

    &::before {
      display: none !important;
    }

    &:hover {
      border-color: $pink;
      button,
      a {
        color: $pink !important;
      }
    }
  }

  &__loader {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 20px;
    width: 20px;
    transform: translate(-50%, -50%);

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 16px;
      width: 16px;
      border: 3px solid white;
      border-bottom-color: transparent;
      border-radius: 50%;
      animation: rotate 0.7s infinite linear;
    }
  }

  &--isloading {
    &::before {
      background-color: transparent !important;
    }
    button,
    a {
      opacity: 0;
    }

    button,
    a {
      cursor: default !important;
    }
  }

  &--disabled {
    pointer-events: none;
    opacity: 0.4;
    background-color: gray;
    button,
    a {
      cursor: default !important;
    }
  }

  &--validate {
    pointer-events: none;
    background-color: $green;
    padding-left: 25px;

    &::after {
      position: absolute;
      top: 10px;
      left: 0px;
      font-family: "Material Icons";
      font-size: 22px;
      padding: 0 15px;
      color: white;
      content: "\e2e6";
    }
  }

  &--error {
    pointer-events: none;
    background-color: $pink;
    padding-left: 25px;
    opacity: 0.5;

    &::after {
      position: absolute;
      top: 10px;
      left: 0px;
      font-family: "Material Icons";
      font-size: 22px;
      padding: 0 15px;
      color: white;
      content: "\e000";
    }
  }

  button,
  a {
    position: relative;
    display: block;
    outline: none;
    border: none;
    text-decoration: none;
    background-color: transparent;
    color: white;
    font-size: 1rem !important;
    line-height: 1rem;
    z-index: 1;
    padding: 10px 20px;
    cursor: pointer;
  }

  &::before {
    position: absolute;
    top: 0%;
    left: 50%;
    height: 100%;
    width: 100%;
    background-color: $pink;
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
    transform: translateX(-50%);
    content: "";
    z-index: 0;
  }

  &:hover {
    &::before {
      opacity: 1;
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
