.checkbox {
  margin-bottom: 30px;
  gap: 10px;

  input {
    position:relative;
    appearance: none;
    height:15px;
    width: 15px;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;

    &::before {
      content: '';
      position:absolute;
      top:0;
      left:0;
      height: 8px;
      width: 8px;
      background-color: $yellow;
      transform: translate(1.5px, 1.5px);
      border-radius: 50%;
      opacity: 0;
    }

    &:checked {
      border-color: $yellow!important;
      &::before {
        opacity: 1;
      }
    }
  }

  &--error{
    input {
      border-color: $pink;
    }
  }
}