.input {
  position: relative;
  margin-top: 30px;
  margin-bottom: 15px;
  width: 100%;

  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus, 
  input:-webkit-autofill:active{
    background-clip: text !important;
    -webkit-text-fill-color: white !important;
  }

  label, input {
    padding: 5px 0;
    width: 100%;
  }

  input {
    margin-bottom: 20px;
    position: relative;
    background: none;
    border: none;    
    border-bottom: 2px  solid white;
    outline: none;
    caret-color: $blue;
    color: white;
    font-size: 1rem;
    transition: border .3s ease-in-out;
    z-index: 2;

    &:disabled {
      opacity: 0.3;
    }

    &:focus {
      border-bottom: 2px  solid $blue;
    }
  }

  label {
    position: absolute;
    top:0;
    left: 0;
    transform-origin: center left;
    transition: transform .15s ease-in-out;
  }

  &__error-message {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(20px);
    color: lighten($pink, 30%)
  }

  &--focus, &--active {
    label {      
      transform: translateY(-1.4rem) scale(0.8);
      color: white;
    }
  }

  &--focus {
    label { 
      color: $blue;
    }
  }

  &--error {
    label, input {      
      color: $pink!important;
    }

    input {
      border-bottom: 2px  solid $pink!important;
    }
  }
}