.popup-alert {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
  padding: 20px;
  background-color: rgba(gray, 0.7);
  z-index: 999;
  transform: translateY(100px);
  opacity: 0;
  transition: .3s ease-in-out;

  &::before {
    font-family: 'Material Icons';
    margin-right: 10px;
    height: 22px;
    font-size: 22px;
    content: '';
  }

  &--success {
    background-color: rgba($green, 0.7);
    &::before {
      content: '\e2e6';
    }    
  }

  &--warning {
    background-color: rgba($yellow, 0.7);
    &::before {
      content: '\e002';
    }  
  }

  &--error {
    background-color: rgba($pink, 0.7);
    &::before {
      content: '\e000';
    }  
  }

  &.show {
    opacity: 1;
    transform: translateY(0);
  }
}