.reveal [class*="reveal-"] {
  opacity: 0 !important;
  transform: translateY(30px) !important;
}

[class*="reveal-"] {
  transition:
    opacity 0.5s cubic-bezier(0.3, 0, 0, 1),
    transform 1s cubic-bezier(0.3, 0, 0, 1);
}

@for $i from 2 through 10 {
  .reveal-#{$i} {
    transition-delay: calc(0.1 * $i) + s;
  }
}

/* for users wont animation on website */
@media (prefers-reduced-motion: reduce) {
  .reveal [class*="reveal-"] {
    opacity: 1 !important;
    transform: translateY(0) !important;
  }
  [class*="reveal-"] {
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}
