.selectbox {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 50%;
  margin-bottom: 30px;
  align-items: end;
  padding-right: 15px;
  gap:20px;

  &__title {
    flex-grow: 1;
    white-space: nowrap;
    padding-bottom: 4px;
  }

  &__container {
    position: relative;
    width: 100%;

    &__error-message {
      position: absolute;
      bottom: 0;
      left: 0;
      transform: translateY(20px);
      color: lighten($pink, 30%)
    }
  }

  &--error {
    color:$pink!important;

    .MuiFormControl-root {
      label {
        color:$pink!important;
      }    
      .MuiInput-root {
        color:$pink!important;
        &::before {
          border-color: $pink!important;
        }
      }    
      svg {
        fill: $pink;
      }
    }    
  }

  select {
    border: none;
    outline: none;
    background: transparent;
    appearance: none;
    border-radius: 0;
    border-bottom: 2px solid white;
    margin: 0;
    display: block;
    width: 100%;
    font-size: 1rem;
    padding-bottom: 10px;
    padding-top: 10px; 
    line-height: normal;
    color: white;
    text-indent: 5px;

    .option-label{
      display: none;
    }

    .option {
      color: $blue;
      font-size: 0.8rem;
    }
  }
}

// Custom MUI Colors 

.MuiFormControl-root {
  label {
    color:white!important;
    font-size: 0.9rem;
    &.Mui-focused{
      color: $blue!important;
    }
  }

  .MuiInput-root {
    color:white!important;
    &::before {
      border-color: white!important;
      border-width: 2px;
    }
    &::after {
      border-color: $blue!important;
    }
  }

  svg {
    fill: white;
  }

  .Mui-disabled {
    opacity: 0.4;
    color: white!important;
    -webkit-text-fill-color:white!important
  }
}

@media (max-width: $screen-md) {    
  .selectbox {
    max-width: 100%;
    padding-right: 0;
  }
}