.smartphone {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  bottom: 0;
  left: 50%;
  overflow: hidden;
  width: 100%;
  max-width: 930px;
  z-index: 0;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transform: translate(-50%, 25%);

  img {
    object-fit: cover;
    width: 250px;
    margin:30px 2%;
  }

  &--loaded {
    visibility: visible;

    &.smartphone--show {
      animation: show-phone .4s ease-in-out .3s both;
    }

    &.smartphone--hide {
      animation: hide-phone .3s ease-in-out forwards;
    }
  }
}

@keyframes show-phone {
  0% {
    opacity: 0;
    transform: translate(-50%, 25%);
  }

  60% {
    transform: translate(-50%, 10%);
  }

  90% {
    transform: translate(-50%, 16%);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, 15%);
  }
}

@media (max-width: $screen-md) {
  .smartphone {
    opacity: 0!important;
    animation: none!important;
  }
}

