.form {
  padding: 15px 0;
  font-size: 0.9rem;
  &__row {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap:30px;
  }

  &__popup {
    position: absolute;
    top:0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.wrapper-form {
  position: relative;
}

input, textarea, .MuiInput-input {
  font-size: 0.9rem!important;
}

@media (max-width: $screen-sm) {
  .form {
    &__row {
      display:flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap:0;
      flex-grow: 1;
    }
  }
}