header {
  position: fixed;
  top:0;
  left:50%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap:30px;
  padding: 30px;
  height: 160px;
  width: 100%;
  margin-bottom: 30px;
  transform: translateX(-50%);
  z-index: 2;  

  &::before {
    position: absolute;
    top:0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #111a45;
    opacity: 0;
    z-index: -1;
  }

  .logo {
    fill:white;
    height: 100px;
    width: 200px;

    svg {
      height: 100%;
      width: 100%;
    }

  }

  nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap:20px;

    a {
      color: white;
      text-decoration: none;
      padding:5px 15px;
      border-radius: 30px;
      font-weight: 600;
      white-space: nowrap;
      transition: color .15s ease-in-out;

      &:hover {
        color:$pink;
      }

      &.active {
        color:$pink;
        background-color: white;
      }
    }
  }

  &.header-minimizer {
    height:60px;


    &::before {
      opacity: 0.9;
    }

    .logo{
      height: 30px;
      width: 90px;
    }
  }
}

// Minify animation
header, header .logo, header::before {
  transition: all .3s ease-in-out!important;
}
