header {
  position: fixed;
  top:0;
  left:50%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap:30px;
  padding: 30px 50px;
  height: 160px;
  width: 100%;
  margin-bottom: 30px;
  transform: translateX(-50%);
  z-index: 2;  

  &::before {
    position: absolute;
    top:0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-color: $background-darkblue;
    opacity: 0;
    z-index: -1;
  }

  .logo {
    fill:white;
    height: 100px;
    width: 200px;

    svg {
      height: 100%;
      width: 100%;
    }

  }

  nav {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }

  nav ul {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    gap:20px;

    a {
      color: white;
      text-decoration: none;
      padding:5px 15px;
      border-radius: 30px;
      font-weight: 600;
      white-space: nowrap;
      transition: color .15s ease-in-out;

      &:hover {
        color:$pink;
      }

      &.active {
        color:$pink;
        background-color: white;
      }
    }
  }

  &.header-minimizer {
    height:60px;


    &::before {
      opacity: 0.95;
      transition: all .3s ease-in-out!important;
    }

    .logo{
      height: 30px;
      width: 90px;
    }
  }
}

// Minify animation
header, header .logo {
  transition: all .3s ease-in-out!important;
}

// hamberger menu
.hamburger {
  display:none;
  position:relative;

  > .line {
    display: inline-block;
    margin: 5px auto;
    pointer-events: none;
    width: 25px;
    height: 2px;
    background-color: white;
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  &::before {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
    z-index: -1;
  }

  &.is-active {
    .line:nth-child(1) {
      transform: translateY(7px) rotate(45deg);
    }
    .line:nth-child(2) {
      opacity: 0;
    }
    .line:nth-child(3) {
      transform: translateY(-7px) rotate(-45deg);
    }    
  }

  &:hover {
    cursor: pointer;
  }
}



@media (max-width: $screen-sm) {
  header {
    .hamburger {
      display: block!important;
      z-index: 3;
  
      + ul {
        position: absolute;
        top:0;
        right:0;
        height: 100vh;
        width: 101vw;
        flex-direction: column-reverse;
        justify-content: center;
        gap: 50px;
        font-size: 1rem;
        align-items: center;
        opacity: 0;
        visibility: hidden;

        li a {
          padding: 10px 30px;
        }

        &::before {
          content: '';
          position: absolute;
          height: 100%;
          width: 100%;
          background-color: rgba(#000, 0.9);
          z-index: -1;
        }
      }
  
      &.is-active + ul {      
        animation: hamburger .3s ease-in-out forwards;
      }
    }
  }
}


@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes hamburger {
  0% {
    opacity: 0;
  }

  100% {
    visibility: visible;
    opacity: 1;
  }  
}