.page {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  padding:30px 60px;
  padding-top: 200px;
  min-height: 100vh;
  z-index: 1;
  transform: translateX(-50%);

  height: 100vh;
  overflow: auto;

  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &--dark {
    background-color: rgba($color: $background-darkblue, $alpha: 0.3);
  }
}