.page {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  padding: 30px 60px;
  padding-top: 200px;
  min-height: 100vh;
  padding-bottom: 10px;
  z-index: 1;
  transform: translateX(-50%);

  height: 100vh;
  overflow: auto;
  animation: hide-scroll 1.2s;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &.theme-light {
    background-color: rgba($color: $background-darkblue, $alpha: 0.3);

    main {
      background-color: $background-light;
      max-width: $max-width-lg;
      padding: 70px 100px;
      color: $secondary;
      border-radius: 30px;
    }

    footer {
      max-width: $max-width-lg;
    }

    h1 {
      color: $pink !important;
    }

    h2 {
      color: black !important;
    }

    .form__popup {
      color: white !important;
    }
  }
}

@media (max-width: $screen-md) {
  .page {
    &.theme-light {
      padding-left: 0;
      padding-right: 0;

      main {
        border-radius: 20px 20px 0 0;
      }
    }
  }
}

@media (max-width: $screen-sm) {
  .page {
    padding-left: 30px;
    padding-right: 30px;
    main {
      padding: 60px 30px !important;
    }
  }
}

@keyframes hide-scroll {
  from,
  to {
    overflow: hidden;
  }
}
